################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CompetitionApis/.vs/CompetitionApis/v17
/CompetitionClean/.vs/CompetitionClean/v17
/CompetitionCleanRepo/.vs
/CompetitionApis/CompetitionApis/obj
/CQRSAndMediatRDemo/.vs
/CompetitionClean/.vs/CompetitionClean/FileContentIndex
/CompetitionClean/Competition.Core/obj/Debug/net7.0
/CompetitionClean/Competition.Core/obj
/CompetitionClean/Competition.Data/obj
/CompetitionClean/Competition.Service/obj
/CompetitionClean/.vs/CompetitionClean/DesignTimeBuild/.dtbcache.v2
/CompetitionClean/Competition.API/bin/Debug/net7.0/Competition.API.deps.json
/CompetitionClean/Competition.Data/bin/Debug/net7.0/Core.dll
/CompetitionClean/Competition.Data/bin/Debug/net7.0/Core.pdb
/CompetitionClean/Competition.Data/bin/Debug/net7.0/Data.deps.json
/CompetitionClean/Competition.Data/bin/Debug/net7.0/Data.dll
/CompetitionClean/Competition.Data/bin/Debug/net7.0/Data.pdb
*.dll
/CompetitionClean/Competition.Service/bin/Debug/net7.0/Service.dll
/CompetitionClean/Competition.Service/bin/Debug/net7.0/Service.pdb
/CompetitionClean/.vs/ProjectEvaluation/competitionclean.metadata.v5.2
/CompetitionClean/.vs/ProjectEvaluation/competitionclean.projects.v5.2
/CompetitionClean/Competition.API/bin/Debug/net7.0/Competition.API.dll
/CompetitionClean/Competition.API/bin/Debug/net7.0/Competition.API.pdb
/CompetitionClean/Competition.API/bin/Debug/net7.0/Core.dll
/CompetitionClean/Competition.API/bin/Debug/net7.0/Core.pdb
*.pdb
/CompetitionClean/Competition.API/obj/Debug/net7.0/ref/Competition.API.dll
/CompetitionClean/Competition.API/obj/Debug/net7.0/refint/Competition.API.dll
/CompetitionClean/Competition.API/obj/Debug/net7.0/Competition.API.csproj.CoreCompileInputs.cache
/CompetitionClean/Competition.API/obj/Debug/net7.0/Competition.API.csproj.AssemblyReference.cache
/CompetitionClean/Competition.API/obj/Debug/net7.0/Competition.API.csproj.FileListAbsolute.txt
/CompetitionClean/Competition.API/obj/Debug/net7.0/Competition.API.dll
/CompetitionClean/Competition.API/obj/Debug/net7.0/Competition.API.pdb
/CompetitionClean/Competition.API/obj/Competition.API.csproj.nuget.dgspec.json
/CompetitionClean/Competition.API/obj/project.assets.json
/CompetitionClean/Competition.API/obj/project.nuget.cache
/CompetitionClean/Competition.API/Competition.API.csproj.user
/CompetitionClean/Competition.Core/bin/Debug/net7.0/Core.dll
/CompetitionClean/Competition.Core/bin/Debug/net7.0/Core.pdb
/CompetitionClean/Competition.Service/bin/Debug/net7.0/Service.deps.json
