################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CompetitionApis/.vs/CompetitionApis/v17
/CompetitionClean/.vs/CompetitionClean/v17
/CompetitionCleanRepo/.vs
/CompetitionApis/CompetitionApis/obj
/CQRSAndMediatRDemo/.vs
/CompetitionClean/.vs/CompetitionClean/FileContentIndex
/CompetitionClean/Competition.Core/obj/Debug/net7.0
/CompetitionClean/Competition.Core/obj
/CompetitionClean/Competition.Data/obj
/CompetitionClean/Competition.Service/obj
/CompetitionClean/.vs/CompetitionClean/DesignTimeBuild/.dtbcache.v2
